@import url("page2.css");

.page2-header {
	padding-left: 0;
}

/*头图*/
.page1-topimg {
	width: 100%;
}

.page1-maintitle {
	margin-top: 2%;
	margin-bottom: 2%;
	
	font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
	.page1-maintitle {
		padding: 0 15px;
	}
	
	.page1-maintitle p {
		margin: 0;
	}
}

.page1-maintitle span {
	color: #16AF76;
}

.page1-mainlist {
	margin-left: 20px;
	list-style-type: -moz-circle;
	list-style: circle;
}

.page1-mainul {
	padding: 0 0;
	
	font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
	.page1-mainul ul {
		margin-left: auto;
		margin-right: auto;
		
		width: 30%;
		text-align: center;
	}
}

.page1-mainlist > li {
	float: none;
	display: list-item;
	
	color: #F2A845;
}

.page1-mainlist a {
	color: #16AF76;
}

/*更改li内容样式*/
.page1-mainlist > li.active > a,
.page1-mainlist > li.active > a:focus,
.page1-mainlist > li.active > a:hover {
	color: #F2A845;
	border: none;
	background-color: transparent;
}

.page1-mainlist > li.active {
	list-style-type: disc;
}

/*log大小*/
.page1-log {
	width: 100%;
}

@media only screen and (min-width: 1280px) {
	.page1-log {
		width: 122px;
		height: 33px;
	}
}

/*右侧字体样式排版*/
.page1-font {
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 20%;
	margin-bottom: 20%;
	
	background-color: #ffffff;
	border: 1px solid #eeeeee;/*右侧外部边框*/
	-webkit-box-shadow: 0 0 3px #eeeeee;
	box-shadow: 0 0 3px #eeeeee;
}

.page1-font p {
	margin-top: 3%;
	margin-bottom: 3%; 
	
	font-size: 1.5rem;
	text-indent: 2.1em;
	line-height: 2em;
	
	color: #999999;
}

/*右侧上部下边框*/
.page1-topborder {
	padding-left: 3%;
	padding-right: 3%;
	
    font-size: 1.5rem;
	line-height: 2em;
	
	color: #999999;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	border-bottom: none;
	-webkit-box-shadow: 0 0 3px #eeeeee;
	box-shadow: 0 0 3px #eeeeee;
}

.page1-topborder p {
	margin-top: 3%;
	margin-bottom: 3%;
}

@media only screen and (max-width: 768px) {
	.page1-topborder,
	.page1-font p {
		font-size: 1.2rem;
	}
	
	.page1-font {
		padding: 10px 20px;
	}
}

/*左侧整体边框*/
.page1-titleborder {
	border-bottom: 1px solid #eeeeee;
	-webkit-box-shadow: 0 0 3px #eeeeee;
	box-shadow: 0 0 3px #eeeeee;
}
.page1-leftborder {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	-webkit-box-shadow: 0 0 3px #eeeeee;
	box-shadow: 0 0 3px #eeeeee;
}

@media only screen and (max-width: 768px) {
	.page1-leftborder {
		margin-bottom: 50px;
	}
}
